img {
    image-rendering: optimizeSpeed;
    /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;
    /* Firefox                        */
    image-rendering: -o-crisp-edges;
    /* Opera                          */
    image-rendering: -webkit-optimize-contrast;
    /* Chrome (and eventually Safari) */
    image-rendering: pixelated;
    /* Chrome                         */
    image-rendering: optimize-contrast;
    /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;
    /* IE8+                           */
}

html {
    background: white;
}

.save_button:hover {
    color: white;
    cursor: pointer;
    background: #bbb7ce;
}

.save_button {
    align-items: inherit;
    text-align: center;
    line-height: 75px;
    background: #79797979;
    font-size: xx-large;
}

[data-sound_row_select="true"] {
    background: #cce1f5;
}

.sound_row_select {
    cursor: pointer;
}

.sound_row_select:hover {
    background: #cce1f5;
}

.data_bar_options {
    width: 20px;
    font-size: larger;
    padding: 7px;
    line-height: 35px;
    cursor: pointer;
    text-align: center;
    vertical-align: center;
}

.data_bar_options:hover {
    color: white;
    background: #787878;
}

[data-select="true"] {
    background: #646464;
}

[data-is_active='true'] {
    background: #787878;
}

[data-file_select="true"] {
    background: #cacaca;
}

.data_types_bar {
    width: 100%;
    height: 35px;
    background: #f2f2f2;
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.bar {
    width: 100%;
    height: 20px;
    ; background: #f2f2f2;
}

.folder {
    padding: 10px;
}

.file {
    padding: 10px;
    padding-left: 25px;
    cursor: pointer;
}

.file:hover {
    background: #cacaca;
}

.file:active {
    color: azure;
}

.header {
    line-height: 64px;
    font-size: xx-large;
    color: #d9d9d9;
    text-align: center;
    background-color: #ada1a1;
    height: 64px;
}

.header_button {
    padding: 16px;
    color: #d9d9d9;
    text-decoration: none;
    cursor: pointer;
}

.header_button:hover {
    color: white;
    background-color: #646464;
}

.header_line_bottom {
    background-color: #646464;
    height: 3px;
}

td,th,binary_table,tr {
    border: 1px #aaa solid;
}

td,th {
    padding: 2px;
}

th {
    background-color: #f2f2f2;
}

.binary_table {
    margin: 1em 0;
    background-color: #f9f9f9;
    border-collapse: collapse;
    color: black;
}

.unknown_value {
    color: #000000;
    background-color: #d0d0d0
}

.save_records_row {
    height: 25%;
    padding-left: 2.5%;
    display: flex;
    justify-content: space-evenly
}

.save_records_time_row {
    padding-left: 2.5%;
    display: flex;
    justify-content: space-evenly
}

.save_records_clockbuster_row {
    padding-left: 2.5%;
    display: flex;
    justify-content: space-evenly
}

.save_records_boarder {
    border: black solid 1px;
    overflow: hidden;
}

.save_records_cup {
    height: 15%;
    width: 99%;
    padding-bottom: 3%;
}

.save_records_time {
    width: 99%;
    padding-bottom: 3%;
}

.save_records_row_in {
    width: 12%;
}

.radio_button {
    white-space: nowrap;
}

.no_border {
    border: 0px;
}

.known {
    color: blue;
}

.file_arrow:hover {
    color: red;
    cursor: pointer;
}

.no_arrow {
    color: white;
    padding-right: 6px;
    padding-left: 4px;
}

.file_hover_not_selected:hover {
    text-decoration: underline;
    color: #00dbff;
    cursor: pointer;
}

.sub_file_div {
    padding-left: 20px;
    white-space: nowrap;
    font-size: 20px;
}

.file_is_highlighted {
    background: #00dbff;
}

.file_is_highlighted:hover {
    color: black;
    text-decoration: none;
}

.text_input {
    width: 100%;
}

.data_bar_options_canvas {
    width: 20px;
    font-size: larger;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-right: 1%;
    padding-left: 1%;
    line-height: 35px;
    cursor: pointer;
    text-align: center;
    vertical-align: center;
}

.data_bar_options_canvas:hover {
    color: white;
    background: #787878;
}

.x_button {
    border: 0px;
    text-align: center;
    width: 5%;
    cursor: pointer;
}

.x_button:hover {
    background:red;
    color: slateblue;
}

.plus_button {
    text-align: center;
    width: 100%;
    cursor: pointer;
    border: 0px;
}

.plus_button:hover {
    background:#00dbff;
}
